/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url('https://fonts.googleapis.com/css?family=Poppins');

h1, body, html, main {
    font-family: "Calibri Light";
    margin: 0;
  }

nav {
    display: flex;
    justify-content: space-between;
    position:fixed;
    height: 70px;
    width: 100%;
    background-color: #FFF;
    
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 35%;
    font-size: 18px;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.logo {
    height: 50px;
    margin: 10px 30px;
}

#title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: url('../images/landing.jpg');
    background-size: cover;
    height: 600px;
    margin-bottom: 30px;
}
#title h1 {
    font-size: 60px;
    margin-bottom: 20px;
}
#title p {
    margin: 0;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-size: 30px;
    text-decoration-line: underline;
    text-underline-position: under;
    text-decoration-color: #00B172;

}
.character {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.character div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;  
    width: 23%;  
    margin: 30px;
}
.icon {
    height: 70px;
    margin: 10px auto;
}
h4 {
    font-size: 25px;
    margin: 0 ;
    color: #00B172
}
.character p {
    font-size: 20px;
}

#example {
    display: flex;
    flex-direction: row;
    background-color: #00B172;
    align-items: center;
    margin: 20px;
    padding:30px 60px;
    color : #FFF;
}
.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
article {
    font-size: 18px;
    width: 50%;
}
h5{
    font-size: 20px;
    margin:10px 0;
}
.icon-white {
    height: 90px;
    margin: 0 50px;
}
h3 {
    font-size: 30px;
    text-decoration-line: underline;
    text-underline-position: under;
    margin-top: 0;
}
.poster {
    width: 250px;
    margin: 50px 20px 10px 20px;
}
